@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

* {
  /* margin: 0;  
    padding: 0;   */
  text-decoration: none;
}
body {
  background-image: url(img/King-Gnu-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.cover {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em #333;
}
.cover div {
  display: flex;
  padding-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: -5px;
  color: white;
  align-items: flex-end;
}
.hr {
  width: 800px;
}
@media screen and (max-width: 900px) {
  body {
    background-image: url(img/King-Gnu-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
  }
  .cover {
    margin-top: 5vh;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  .cover div {
    display: flex;
    padding-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -10px;
    color: white;
    align-items: flex-end;
    text-align: center;
    text-shadow: 0.1em 0.1em #333;
  }
}
a {
  color: white;
  text-decoration: none;
  border: 0px;
}
a:hover {
  margin-bottom: 10px;
}
.title a:hover {
  margin-bottom: 0px;
}
.title {
  font-size: 50px;
  font-family: "Rubik Moonrocks", cursive;
}
#container {
  margin: 20px auto;
  max-width: 800px;
  height: 683px;
  border: 3px solid #333;
  overflow: hidden;
  position: relative;
}

#list {
  width: 8000px;
  height: 483px;
  position: absolute;
  z-index: 1;
}
#list img {
  float: left;
  width: 800px;
  height: 683px;
}
#buttons {
  position: absolute;
  height: 10px;
  width: 200px;
  z-index: 2;
  bottom: 20px;
  right: 300px;
}
#buttons span {
  cursor: pointer;
  float: left;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background: #e98352;
}
#buttons .on {
  background: #474550;
}
.arrow {
  display: none;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 320px;
  color: #fff;
  background-color: #666;
}
.arrow:hover {
  background-color: #e98352;
}
#container:hover .arrow {
  display: block;
}
#prev {
  left: 20px;
}
#next {
  right: 20px;
}
@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 500px;
    height: 383px;
    border: 3px solid #333;
    overflow: hidden;
    position: relative;
  }
  #list {
    width: 8000px;
    height: 483px;
    position: absolute;
    z-index: 1;
  }
  #list img {
    float: left;
    width: 500px;
    height: 383px;
  }
  #buttons {
    position: absolute;
    height: 10px;
    width: 200px;
    z-index: 2;
    bottom: 20px;
    right: 25%;
  }
  #buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background: #e98352;
  }
  #buttons .on {
    background: #474550;
  }
  .arrow {
    display: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 145px;
    color: #fff;
    background-color: #666;
  }
  .arrow:hover {
    background-color: #e98352;
  }
  #container:hover .arrow {
    display: block;
  }
  #prev {
    left: 10px;
  }
  #next {
    right: 10px;
  }
} 
