@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

* {
  text-decoration: none;
  /* border: solid 1px black; */
}
body {
  background-image: url(img/King-Gnu-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
.cover {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em #333;
}
.cover div {
  display: flex;
  padding-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: -5px;
  color: white;
  align-items: flex-end;
}
.hr {
  width: 800px;
}
.buyList{
  position: absolute;
  width: 70px;
  height: 30px;
  right:5px;
  top:10px;
  border-radius: 20px;
  padding-left: 15px;
  background-color: rgb(244, 230, 230, 0.6);
}
.buyList a{
  color:yellow;
  padding-bottom: 5px;
}
@media screen and (max-width: 900px) {
  body {
    background-image: url(img/King-Gnu-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .cover {
    margin-top: 5vh;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  .cover div {
    display: flex;
    padding-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -10px;
    color: white;
    align-items: flex-end;
    text-align: center;
    text-shadow: 0.1em 0.1em #333;
  }
  .buyList{
    width: 70px;
    height: 30px;
    right:3px;
    top:20px;
  }
}
a {
  color: white;
  text-decoration: none;
  border: 0px;
}
a:hover {
  margin-bottom: 10px;
}
.title a:hover {
  margin-bottom: 0px;
}
.title {
  font-size: 50px;
  font-family: "Rubik Moonrocks", cursive;
}

.container {
  background-color: rgb(244, 230, 230, 0.6);
  box-sizing: border-box;
  max-width: 1024px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.5s;
}
.block {
  display: inline-block;
  box-sizing: border-box;
  /* border: solid 3px black; */
  /* height: 800px; */
  text-align: center;
  padding: 10px;
  vertical-align: top;
}
.a,.b,.c,.d {
  width: 49.7%;
  border-bottom: 1px solid black;
}
.img{
  height: 50%;
  /* border: solid 1px black; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
img {
  height: 250px;
}


@media screen and (max-width: 900px) {
  .a,.b,.c,.d {
    width: 100%;
  }
  .img{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    width: 49%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  
}

@media screen and (max-width: 500px){
    .img{
        display: block;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }
      img {
        width: 300px;
        height: 100%;
      }
}
